body {
  background-color: #24042f;
}

@font-face {
  font-family: "Noto Sans";
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&display=swap");
  font-style: normal;
}

.container {
  margin: 20px;
  color: white;
}

.container-games {
  width: 180px;
  height: 250px;
  text-align: center;
  background-color: #333;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.title {
  font-family: Noto Sans, sans-serif;
}

.gambar-games img {
  width: 100%;
  object-fit: cover;
}

.title-games {
  margin-top: 1rem;
}

.container-games:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.container-card a {
  color: white;
  text-decoration: none;
}
